<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Crud Spring Boot</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/fa.min.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="Navegacion/navegacion :: navegacion"></nav>
	<div class="container mt-4">
		<div class="col-sm-12">
			<form th:action="@{/producto/editar/} + ${productos.id}" th:object=${productos} method="POST">
				<div class="card">
					<div class="card-head">
						<h1>Modulo Actualizar Productos</h1>
					</div>
					<div class="card-body">
						<div class="form-group">
							<input th:field="*{id}" type="hidden" class="form-control">
						</div>
						<div class="form-group">
							<label>NOMBRE</label> 
							<input th:field="*{nombre}" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>PRECIO COMPRA</label> 
							<input th:field="*{precio_compra}" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>PRECIO VENTA</label> 
							<input th:field="*{precio_venta}" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>PESO</label> 
							<input th:field="*{peso}" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>CATEGORIA</label> 
							<select th:field="*{categoria}" class="form-control">
							<option th:each="categoria:${categoria}" th:text="${categoria.nombre}" th:value="${categoria.id}" ></option>
							</select>	
						</div>
						<div class="form-group">
							<label>STOCK</label> 
							<input th:field="*{stock}" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>FECHA CREACION</label> 
							<input th:field="*{fechaCreacion}" type="date" class="form-control">
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Actualizar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>