<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Prueba Crud Spring Boot</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/fa.min.css}" rel="stylesheet">
</head>
<body>
	<nav th:replace="cabecera/navegacion :: navegacion"></nav>

	<div class="container mt-4">
		<div class="col-sm-12">
		<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
				th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
			</div>
			<form th:action="@{/categoria/guardar}" th:object=${categorias} method="POST">
				<div class="card">
					<div class="card-head">
						<h1>Modulo Categorias</h1>
					</div>
					<div class="card-body">
						<div class="form-group">
							<input th:field="*{id}" type="hidden" class="form-control">
						</div>
						<div class="form-group">
							<input th:field="*{nombre}" type="text" class="form-control"
								placeholder="Ingrese el nombre de la categoria">
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
		
	</div>
	<div class="container mt-4 table-responsive table-striped">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>ID</td>
					<td>NOMBRE</td>
					<td>EDITAR</td>
					<td>ELIMINAR</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria:${categoria}">
					<td th:text="${categoria.id}"></td>
					<td th:text="${categoria.nombre}"></td>

					<td><a th:href="@{/categoria/editar/}+${categoria.id}"
						class="btn btn-warning">Editar</a> <!-- eliminar directamente sin preguntar sin funcion-->
						</td>
						<td>
						<a th:href="@{/categoria/eliminar/}+${categoria.id}" class="btn btn-danger">Eliminar</a>
						</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>